

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
    background-color: #1f2937;
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
    margin-left: 20%;
}

.links_container{
    margin-right: 20%;
    display: flex;
    gap: 18px;
}

header a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

#first_section{
    background-color: #1f2937;
    padding-top: 5%;
    padding-bottom: 5%;
}

.first_section_container{
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;
    display: flex;
    gap: 10%;
}

.top_panels h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.top_panels{
    color: #E5E7EB;
    height: 220px;
    font-size: 18px;
    font-weight: 300;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign_up_button{
    margin-top: 3%;
    background-color: #3882F6;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 400;
}


.top_panels + .top_panels{
    background-color: #6c747c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second_section h2{
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    margin: 3%;
}
.second_section_container{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 10%;

}
.image_box{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
}

.box{
    width: 170px;
    height: 170px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.image_box p{
    margin-top: 10px;
    text-align: center;
    width: 180px;
}

#third_section{
    background-color: #E5E7EB;
}

#third_section blockquote{
    font-size: 36px;
    font-weight: 200;
    padding: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

#third_section figcaption{
    font-weight: 800;
    font-size: 18px;
    text-align: end;
}